/* your css code here. If applicable */
#grid {
  display: grid;
  height: 600px;
  width: 1000px;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 124px);
  grid-gap: 10px;
}

#grid > div {
  background-color: green;
  color: white;
  font-size: 30px;
}

/* Grid spans expected by Cypress */
#one {
  grid-column: span 4;
}

#two {
  grid-row: span 4;
}

#four {
  grid-column: span 2;
}

#five {
  grid-column: span 2;
}

#ten {
  grid-column: span 3;
}
